.tablesWrapper {
  margin: 0 auto;
  max-width: 75%;
  min-width: 1100px;
  //-webkit-column-count: 3;
  //column-count: 3;
  //-webkit-column-gap: 15px;
  //column-gap: 15px;
}

.tableWrapper {
  margin: 15px;
  display: flex;
}

// The actual data table in the tables section
.tablesCoreTable {

}

// The div wrapping the core table
.unitTable {
  float: left;

}

// The bar chart that comes with every table
.tableCoreBarChart {
  max-height: 225px;
  margin: 15px;

}

// Average Grade box
.tableCoreAverageGrade {
  max-width: 200px;
  width: 200px;
  height: 225px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableCoreAverageGrade div {
}
