.profileCardsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.profileCards {
  width: 15%;
  max-width: 100%;
  margin: 25px auto;
}

.profileCards h5 {
  margin: 10% auto;
  text-align: center;
}

.profileCards h4 {
  text-align: center;
}
