.profileCardsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.profileCards {
  width: 15%;
  max-width: 200px;
  margin: 25px auto;
  position: relative;

}

.profileCards h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profileCards h4 {
  text-align: center;
}
