.tablesSizing {
  margin: 0 auto;
  max-width: 75%;
  min-width: 410px;
}

.tablesWrapper {
  max-width: 410px;
  min-width: 410px;
  margin: 25px;
}

.tableWidths {
  max-width: 410px;
  min-width: 410px;
}

