.tablesSizing {
  margin: 0 auto;
  max-width: 75%;
  min-width: 410px;
}

.tablesWrapper {
  justify-content: center;
  max-width: 410px;
  min-width: 410px;
  margin: 25px;
  float: left;
}

table {
  max-width: 410px;
  min-width: 410px;
  display: inline-block;
}
