.profileCardsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.profileCards {
  width: 15%;
  min-width: 100px;
  max-width: 200px;
  min-height: 200px;
  margin: 25px auto;
  position: relative;

}

.profileCards div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profileCards h4 {
  text-align: center;
}

// Profile Summary
.profileSummaryWrapper {
  margin: 25px auto;
  max-width: 80%;
}

.profileSummaryHeader {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProfileSummaryChart {
  margin-top: 15px;
}

.topFiveSectionWrapper {
  margin-top: 15px;
}

.summaryImageWrapper {
    margin-top: 15px;
  }

.topFiveSectionWrapper div:not(:first-child) {
  margin-top: 10px;
}

.topFiveSectionWrapper a {
  text-decoration: none;
  color: #182026;
}

.SummaryAverageGrade {
  margin-top: 15px;
}

.profileSummaryAverageWrapper {
  justify-content: center;
  display: flex;
  margin-top: 15px;
}

.notificationFlash {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes pulse {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: orange;
  }
}

.deleteYearButton {
  float: right;
}
